.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .modalstyle{
      height: 50pc;
  }
  
  .modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    height: 21pc;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .modalbody h2{
      text-align: end;
      font-size: 20px;   
  }
  .modalbody h1{
    font-size: 20px;
}
.modalbody button{
    margin-left: 34pc;
}

  .modalheader h1{
      font-size: 30px;
      text-align: center;
      padding-top: 10px;
  }
  .modal button {
      background-color: tomato;
      color: white;
      width: 100px;
  }